<%= foundation_devise_error_messages! %>
<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="login-box">
      <div class="row">
        <div class="large-12 columns">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'registration' }, remote: true) do |f| %>
            <div class="row">
              <h5 class="text-center">
                <%= t('.sign_up', :default => "Sign up") %>
              </h5>
            </div>
            <div class="row">
              <%= f.text_field :name, autofocus: true, class: "large-12 columns", placeholder: "Nom/pseudo", required: true %>
            </div>
            <div class="row">
              <%= f.email_field :email, class: "large-12 columns email", placeholder: "Email", required: true %>
            </div>
            <div class="row">
              <%= f.password_field :password, autocomplete: "off", class: "large-12 columns password", placeholder: "Password", required: true %>
            </div>
            <div class="row">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "large-12 columns password confirmation", placeholder: "Password Confirmation", required: true %>
            </div>
            <div class="row status-message">
              <p class="message"></p>
            </div>
            <div class="row">
              <%= recaptcha_tags %>
            </div>
            <div class="row">
              <%= f.submit t('.sign_up', :default => "Sign up"), class: "button expand large-12 large-centered columns submit" %>
              <div class="button expand large-12 large-centered loader-wrapper hide">
                <div class="loader">
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
