<section id="user" class="columns">
  <div class="medium-6 medium-centered">
    <h3 class="text-center"><%= t('.my_info') %></h3>
    <%= simple_form_for(current_user, url: me_users_path, html: { class: 'edit-user' }, format: :json, remote: true) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: t('activerecord.attributes.user.name') %>
        <%= f.input :email, type: 'email', label: t('activerecord.attributes.user.email') %>
        <%= f.input :password, type: 'password', label: t('activerecord.attributes.user.current_password') %>
      </div>
      <div class="status-message">
        <p class="message"></p>
      </div>
      <div class="form-actions large-12 large-centered">
        <%= f.button :submit, t('devise.registrations.edit.update'), class: 'submit expand large-6 large-centered' %>
        <div class="button expand large-6 large-centered loader-wrapper hide">
          <div class="loader">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="medium-6 medium-centered columns">
  <%= render "devise/passwords/edit" %>
</section>

<section class="medium-6 medium-centered delete-user margin-bottom columns">
  <h3 class="text-center"><%= t('devise.registrations.edit.cancel_my_account') %></h3>
  <div class="form-actions large-6 large-centered">
      <%= link_to t('devise.registration.edit.delete_my_account'), registration_path(current_user), data: { confirm: t('devise.registration.edit.are_you_sure') }, method: :delete, class: 'button submit expand large-12 large-centered alert' %>
  </div>
</section>
