<h3 class="text-center"><%= t('.new_password') %></h3>

<%= simple_form_for(current_user, url: update_password_users_path, html: { method: :put, class: 'password-update margin-bottom', id: 'passwordUpdate'}, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :current_password, label: t('activerecord.attributes.user.current_password'), input_html: { class: 'current-password' }, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password, label:  t('.new_password'), input_html: { class: 'new-password', id: 'newPasswordUpdate' }, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: t('.confirm_new_password'), input_html: { class: 'new-password confirmation' }, required: true %>
  </div>

  <div class="status-message">
    <p class="message"></p>
  </div>

  <div class="form-actions large-6 large-centered">
    <%= f.button :submit, t('.change_my_password'), class: 'button submit expand medium-12 small-12 large-12', disabled: true %>
    <div class="button submit expand medium-12 small-12 large-12 loader-wrapper hide">
      <div class="loader">
      </div>
    </div>
  </div>
<% end %>
