<%= foundation_devise_error_messages! %>
<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="login-box">
      <div class="row">
        <div class="large-12 columns">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put}) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="row">
              <h5 class="text-center">
              <%= t('.change_your_password', :default => 'Change your password') %>
              </h5>
            </div>
            <div class="row">
              <%= f.password_field :password, autocomplete: "off", class: "large-12 columns", placeholder: "New Password" %>
            </div>
            <div class="row">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "large-12 columns", placeholder: "Confirm New Password" %>
            </div>
            <div class="row">
              <%= f.submit t('.change_my_password', :default => 'Change my password'), class: "button expand large-12 large-centered columns" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>