<div class="devise-form devise-forgot-password">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
    <%= render "devise/shared/links" %>
<% end %>
</div>
