<h2 class="text-center"><%= t('layouts.menu.leaderboard') %></h2>
<section class="flex user-reports small-12 medium-10 medium-centered">
  <table class="palmares__table">
    <thead>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('.report_count') %></th>
      <th></th>
    </thead>
    <tbody>
    <% @leaderboard.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.reports.count %></td>
        <td><%= user.reports.last.reported_at.strftime("%d-%m-%Y") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
