<section id="newReport">
  <div class="medium-6 medium-centered">
    <h3 class="text-center">Signalement</h3>
    <div class="row">
      <%= simple_form_for Report.new do |f| %>
        <%= f.input :tracer_id, as: :hidden, input_html: { value: tracer.id || '' } %>
        <%= f.input :reported_at, input_html: { value: Time.zone.today }, as: :hidden %>
        <input class="datepicker-tracer-form" type="date">
        <%= f.input :name %>
        <%= f.input :quantity, as: :integer, input_html: { value: '1' } %>
        <%= f.input :address %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
        <%= f.input :photo, as: :file %>
        <%= f.input :description, as: :text %>
        <%= recaptcha_tags %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</section>
