<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
<nav id="mm-menu" class="mm-menu">
  <div class="mm-menu__header">
    <%= link_to root_path, class: 'mm-header__link' do %>
      <h2 class="mm-menu__title">Mersea</h2>
    <% end %>
  </div>
  <ul class="mm-menu__items">
    <li class="mm-menu__link">
      <%= link_to root_path, class: 'mm-menu__link' do %>
        <span class="mm-menu__link-text <%= 'active' if request.path == root_path %>">Carte</span>
      <% end %>
    </li>
    <li class="mm-menu__link">
      <%= link_to tracers_path, class: 'mm-menu__link' do %>
        <span class="mm-menu__link-text <%= 'active' if request.path == tracers_path %>">Traceurs</span>
      <% end %>
    </li>
    <% @pages.each do |page| %>
      <li class="mm-menu__link">
        <%= link_to page_path(page), class: 'mm-menu__link' do %>
          <span class="mm-menu__link-text <%= 'active' if request.path == page_path(page) %>"><%= page.name %></span>
        <% end %>
      </li>
    <% end %>

  </ul>
</nav>
