<button id="mm-menu-toggle" class="mm-wrapper-menu-toggle">
  <div class="mm-menu-toggle"><%= t('.toggle_menu') %></div>
</button>
<nav id="mm-menu" class="mm-menu">
  <div class="mm-menu__header">
    <%= link_to root_path, class: 'mm-header__link' do %>
      <h2 class="mm-menu__title">Ocean Plastic Tracker</h2>
    <% end %>
  </div>
  <ul class="mm-menu__items">
    <li class="mm-menu__link">
      <%= link_to root_path, class: 'mm-menu__link' do %>
        <span class="mm-menu__link-text <%= 'active' if request.path == root_path %>"><%= t('.map') %></span>
      <% end %>
    </li>
    <li class="mm-menu__link">
      <%= link_to tracers_path, class: 'mm-menu__link' do %>
        <span class="mm-menu__link-text <%= 'active' if request.path == tracers_path %>"><%= t('activerecord.models.tracer', count: Tracer.count) %></span>
      <% end %>
    </li>
    <li class="mm-menu__link">
      <%= link_to leaderboard_path, class: 'mm-menu__link' do %>
        <span class="mm-menu__link-text <%= 'active' if request.path == leaderboard_path %>"><%= t('.leaderboard') %></span>
      <% end %>
    </li>
    <% @pages.each do |page| %>
      <li class="mm-menu__link">
        <%= link_to page_path(page), class: 'mm-menu__link' do %>
          <span class="mm-menu__link-text <%= 'active' if request.path == page_path(page) %>"><%= page.name %></span>
        <% end %>
      </li>
    <% end %>

  </ul>
</nav>
