<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= content_for?(:title) ? yield(:title) : 'Mersea' %>
  </title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/topbar' %>
  <div id="wrapper" class="wrapper">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales.fr = ["en"];
    I18n.locales.en = ["fr"];
    I18n.missingBehaviour = "guess";
  </script>
</body>

</html>
