<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= content_for?(:title) ? yield(:title) : 'Mersea' %>
  </title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% unless devise_controller? %>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
          <%= render 'layouts/menu' %>
          <div class="off-canvas-content" data-off-canvas-content>
              <%= yield %>
              <div class="menu-toggle-swipe"></div>
              <button type="button" class="secondary button menu-toggle-button" data-toggle="menu"><i class="fi-list"></i></button>
              <% if current_page?(root_path) %>
                <%= link_to tracers_path, class: 'button secondary new-report-button' do %>
                  <i class="fi-plus"></i>
                <% end %>
              <% end %>
          </div>
      </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
</body>

</html>